<div class="col-xs-12 col-md-4 photo">
  <img src="http://thedudeminds.de/images/self_Fotor.jpg" class="img-rounded" alt="Responsive image"  height="200">
</div>
<div class="col-xs-12 col-md-6 text-box">
  <h2><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> About Me</h2>
  <p class="lead">I'm a Taiwanese, living in Leipzig.<br>I can speak fluent Mandarin, English and German. My favorite band is Queen. And I'm a great Halma player.</p>
</div>
