<div class="jumbotron">
  <div class="container">
    <h1>Hello, I'm Jill.</h1>
    <p class="lead" id="head-jumbotron-subtitle">A Web Developer, Coffee Lover & Traveller.</p>
    <p><a class="btn btn-primary btn-lg" href="#welcome" role="button">About Me</a></p>
  </div>
</div>
