<div class="jumbotron">
  <div class="container">
    <h1>Hello, I'm Jill.</h1>
    <h3 class="lead">A Web Developer, Coffee Lover & Traveller.</h3>
    <p><a href="#about-me" role="button-pink">About Me</a></p>
  </div>
</div>
