.jumbotron {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.98), 
      rgba(242, 222, 222, 0.25)
    ), 
    url('https://images.unsplash.com/uploads/14108632958755ac7f7f3/fe4a5cbf?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1400');
    // url('https://images.unsplash.com/photo-1440335680360-79703e7032f9?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1400');
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  @media (min-width: $screen-lg-min) {
    height: 780px;
    h1 { margin-top: 300px; }
    h3 { margin-top: 50px; }
    p  { margin-top: 50px;}
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    height: 500px;
    h1 { margin-top: 200px; }
    h3 { margin-top: 40px; }
    h3 { margin-top: 40px; }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    height: 500px;
    h1 { margin-top: 200px; }
    h3 { margin-top: 30px; }
    h3 { margin-top: 40px; }
  }
  @media (max-width: $screen-xs-max) {
    height: 380px;
    h1 { margin-top: 140px; }
    h3 { margin-top: 20px; }
    h3 { margin-top: 40px; }
  }
  h1, h3 {
    color: $gray-lighter;
  }
  a[role="button-pink"] {
    font-weight: 500;
    color: white;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $pink;
    border-radius: 10px;
    text-decoration: none;
    opacity: 0.6;
  }
  a:hover {
    background-color: $pink;
    opacity: 1;
  }
}