@import "jumbotron.scss";

.welcome{
  @media (min-width: $screen-sm-min) {
    max-width: 1200px;
  };
  .intro, .coding, .lan-code, .interests{
    border-bottom: 2px dotted #bbb;

    @media (min-width: $screen-sm-min) {
      padding: 100px;
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .text-box {
      background-color: $gray-lighter;
    }
    .text-box:hover {
      border: 1px solid #A0A0A0;
      border: $border-line-pink;
      background-color: white;
    }
  }
  .lan-code {
    .code-lang-box {
      text-align: center;
      p {
        font-size: 16px;
      }
    }
    .code-lang-box:hover {
      h3 {
        color: $pink;
      }
    }
  }
  .interests {
    margin-bottom: 4%;
    text-align: center;
    .title {
      margin-bottom: 30px;
    }
    .subtitle h3{
      margin-bottom: 30px;
    }
    .subtitle:hover {
      color: $pink;
    }
  }
  img {
    opacity: 0.7;
  }
  img:hover{
    opacity: 0.9;
  }
}
