<div class="container-fluid footer">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-offset-1">
      <ul>
        <p>My Current Projects</p>
        <li>Learning Backbone.js</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <ul>
        <p>Where to find me</p>
        <li><a href="https://github.com/Tsilly">Github</a></li>
        <li><a href="http://tsilly-blog.logdown.com">Blog</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <ul>
        <p>Contact Me</p>
        <li><%= mail_to "jill.li87@gmail.com", "Send me an Email" %></li>
      </ul>
    </div>
  </div>
</div>