<div class="nav-top hidden-xs">
  <ul>
    <li><a href="https://github.com/Tsilly">Github</a></li>
    <li><%= mail_to "jill.li87@gmail.com", "Contact" %></li>
    <li><a href="http://tsilly-blog.logdown.com">Blog</a></li>
  </ul>
</div>